{% extends 'ludotheque/base.html' %}

{% block title %}Modifier un Auteur{% endblock %}

{% block content %}
<h2 class="mb-4">Modifier l'Auteur : {{ auteur.nom }}</h2>

<form method="POST" class="needs-validation">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.as_p }}
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-warning">Enregistrer les modifications</button>
        <a href="{% url 'liste_auteurs' %}" class="btn btn-secondary">Annuler</a>
    </div>
</form>
{% endblock %}